body {
  width: 100%;
  overflow: hidden;
}
.swiper-slide {
  box-sizing: border-box;
  height: max-content;
  padding: 0.25rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(244, 244, 244);
  border: 2px solid white;
  border-radius: 0.2rem;
  text-align: center;
  font-size: 1.5rem;
  // margin-right: 10rem;

  &-active {
    background-color: #fff;
    color: colors(primary);
  }
}
