html(lang="en")
  head
    meta(charset="UTF-8")
    link(rel="stylesheet", href="assets/css/app.css")

    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Pomotimer
    
    

  body
    .container
      .main
        .section  
          .header
            p.header__title BHEETIMER
            .header__menu 
              div
              div
              div
          .clock
            .time
              p 12
            .colon :
            .time
              p 57
            
            