html(lang="en")
  head
    meta(charset="UTF-8")
    link(rel="stylesheet", href="assets/css/app.css")
    <link rel="stylesheet" href="../dist/css/swiper.min.css">
    meta(name="theme-color" content='#d55745')
    meta(name="apple-mobile-web-app-status-bar-style" content="#d55745")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Bheetimer
    

  body
    .container
      .main
        .section
          .header
            p.header__title BHEETIMER
            .header__menu 
              div
              div
              div
          .clock
            .time
              p#minute 00
            .colon :
            .time
              p#seconds 00
          div.glide-container
            <div class="swiper-container">
              <div class="swiper-wrapper">
                <div class="swiper-slide">5</div>
                <div class="swiper-slide">10</div>
                <div class="swiper-slide">15</div>
                <div class="swiper-slide">20</div>
                <div class="swiper-slide">25</div>
                <div class="swiper-slide">30</div>
                <div class="swiper-slide">35</div>
                <div class="swiper-slide">40</div>
                <div class="swiper-slide">45</div>
              </div>
            </div>
          .controls
            .radial-bar
              .pause
                img(class="pause__img" src="assets/img/play.svg", alt="pause")
              .stop
                img(class="stop__img" src="assets/img/stop.svg", alt="stop")
          .tracker
            .round
              p 0/4
              h4 ROUND
            .goal
              p 0/3
              h4 GOAL

    script(src="assets/js/app.js")
            